
@font-face {
    font-family: 'National';
    src: url('fonts/National-Regular.woff2') format('woff2'),
        url('fonts/National-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monotype Modern Std';
    src: url('fonts/ModernMTStd-CondensedItalic.woff2') format('woff2'),
        url('fonts/ModernMTStd-CondensedItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'National Bold';
    src: url('fonts/National-BoldItalic.woff2') format('woff2'),
        url('fonts/National-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'National';
    src: url('fonts/National-Extrabold.woff2') format('woff2'),
        url('fonts/National-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Monotype Modern Std';
    src: url('fonts/ModernMTStd-Wide.woff2') format('woff2'),
        url('fonts/ModernMTStd-Wide.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monotype Modern Std';
    src: url('fonts/ModernMTStd-WideItalic.woff2') format('woff2'),
        url('fonts/ModernMTStd-WideItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'National';
    src: url('fonts/National-Medium.woff2') format('woff2'),
        url('fonts/National-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'National Extrabold';
    src: url('fonts/National-ExtraboldItalic.woff2') format('woff2'),
        url('fonts/National-ExtraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'National';
    src: url('fonts/National-Light.woff2') format('woff2'),
        url('fonts/National-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Monotype Modern Std';
    src: url('fonts/ModernMTStd-Condensed.woff2') format('woff2'),
        url('fonts/ModernMTStd-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monotype Modern Std';
    src: url('fonts/ModernMTStd-Bold.woff2') format('woff2'),
        url('fonts/ModernMTStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'National Black';
    src: url('fonts/National-BlackItalic.woff2') format('woff2'),
        url('fonts/National-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Monotype Modern Std';
    src: url('fonts/ModernMTStd-Extended.woff2') format('woff2'),
        url('fonts/ModernMTStd-Extended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'National';
    src: url('fonts/National-Semibold.woff2') format('woff2'),
        url('fonts/National-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'National Light';
    src: url('fonts/National-LightItalic.woff2') format('woff2'),
        url('fonts/National-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'National Thin';
    src: url('fonts/National-ThinItalic.woff2') format('woff2'),
        url('fonts/National-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'National Book';
    src: url('fonts/National-BookItalic.woff2') format('woff2'),
        url('fonts/National-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'National Book';
    src: url('fonts/National-Book.woff2') format('woff2'),
        url('fonts/National-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'National';
    src: url('fonts/National-Thin.woff2') format('woff2'),
        url('fonts/National-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'National';
    src: url('fonts/National-Bold.woff2') format('woff2'),
        url('fonts/National-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Monotype Modern Std';
    src: url('fonts/ModernMTStd-BoldItalic.woff2') format('woff2'),
        url('fonts/ModernMTStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'National Medium';
    src: url('fonts/National-MediumItalic.woff2') format('woff2'),
        url('fonts/National-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'National Semibold';
    src: url('fonts/National-SemiboldItalic.woff2') format('woff2'),
        url('fonts/National-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'National';
    src: url('fonts/National-Black.woff2') format('woff2'),
        url('fonts/National-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'National Regular';
    src: url('fonts/National-RegularItalic.woff2') format('woff2'),
        url('fonts/National-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
